.app__movies-cards {
	margin: 0 auto 77px;
}

.movies-cards {
	max-width: 1280px;
	padding: 0 70px;
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.movies-cards__card-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 40px 23px;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: min-content;
}

.movies-cards__more-button {
	min-height: 36px;
	width: 100%;
	max-width: 320px;
	border: 1px solid #424242;
	border-radius: 6px;
	padding: 0;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	align-self: center;
	background-color: transparent;
	cursor: pointer;
	transition: opacity .2s linear;
}

.movies-cards__more-button:hover {
	opacity: .6;
}

@media (max-width: 1260px) {
	.movies-cards {
		padding: 0 30px;
		row-gap: 80px;
	}

	.movie-card {
		min-height: 262px;
	}

	.movies-cards__card-list {
		grid-template-columns: repeat(2, auto);
		justify-content: center;
		gap: 30px;
	}
}

@media (max-width: 766px) {

	.movies-cards {
		row-gap: 77px;
	}

	.movies-cards__card-list {
		grid-template-columns: auto;
	}

	.movies-cards__more-button {
		max-width: 360px;
	}
}

@media (max-width: 398px) {
	.movies-cards {
		padding: 0 10px;
	}

	.movie-card {
		min-height: 237px;
	}

	.movies-cards__card-list {
		gap: 14px 0;
	}

	.movies-cards__more-button {
		max-width: 240px;
	}
}