.nav__burger-button {
	display: none;
	position: absolute;
	border: none;
	top: 15px;
	right: 30px;
	width: 44px;
	height: 44px;
	cursor: pointer;
	transition: opacity .2s linear;
	padding: 0;
	background: url('../../images/nav-menu-bar.svg') 50%/auto auto no-repeat;
}

@media (max-width: 786px) {
	.nav__burger-button {
		display: block;
	}
}

@media (max-width: 398px) {
	.nav__burger-button {
		right: 15px;
		width: 40px;
		height: 43px;
		background: url('../../images/nav-menu-bar-mini.svg') 50%/auto auto no-repeat;
	}
}