.not-found {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr min-content 1fr;
	grid-template-areas:
		"."
		"content"
		".";
	line-height: normal;
	color: #fff;
}

.not-found__container {
	grid-area: content;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.not-found__code {
	font-size: 140px;
	margin: 0 0 5px 0;
}

.not-found__title {
	font-size: 16px;
	margin: 0;
}

.not-found__redirection-link {
	position: absolute;
	top: 377px;
	background-color: transparent;
	border: 0;
}

@media (max-width: 398px) {

	.not-found__code {
		font-size: 80px;
		margin-bottom: 10px;
	}

	.not-found__title {
		font-size: 12px;
	}

	.not-found__redirection-link {
		top: 406px;
	}
}