/*normalize and fonts*/

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

/* general styles */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
}

/* generalStyles */

@import url(./components/generalStyles/section-heading.css);
@import url(./components/generalStyles/heading.css);

/* PageNotFound */

@import url(./components/PageNotFound/PageNotFound.css);

/* App */

@import url(./components/App/App.css);

/* Header */

@import url(./components/Header/Header.css);

/* Navigation */

@import url(./components/Navigation/Navigation.css);

/* Promo */

@import url(./components/Promo/Promo.css);

/* AboutProject */

@import url(./components/AboutProject/AboutProject.css);

/* Techs */

@import url(./components/Techs/Techs.css);

/* StudentInfo */

@import url(./components/StudentInfo/StudentInfo.css);

/* AboutMe */

@import url(./components/AboutMe/AboutMe.css);

/* Portfolio */

@import url(./components/Portfolio/Portfolio.css);

/* SearchForm */

@import url(./components/SearchForm/SearchForm.css);

/* MoviesCardList */

@import url(./components/MoviesCardList/MoviesCardList.css);

/* MoviesCard */

@import url(./components/MoviesCard/MoviesCard.css);

/* Profile */

@import url(./components/Profile/Profile.css);

/* Footer */

@import url(./components/Footer/Footer.css);